body {
    margin: 0;
    background-image: url(../Images/material-background.png);
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    background-attachment: fixed;   
    background-size: cover;
}

@keyframes fade-in {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

@keyframes title-in {
    from {font-size: x-large;}
    to {font-size: xx-large;}
}

@keyframes title-out {
    from {font-size: xx-large;}
    to {font-size: x-large;}
}

.top-bar {
    display: flex;
    flex-direction: row;
    background-color: azure;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    height: fit-content;
    margin-inline: .5em;
    margin-top: .5em;
    padding-inline: 50px;
    animation-name: fade-in;
    animation-duration: 1s;
    height: 8vh;
    min-height: 50px;
}

.title {
    margin: 20px;
    font-size: x-large;
    color: #3D5AFE;
}

.title:hover {
    font-size: xx-large;
    animation-name: title-in;
    animation-duration: .2s;
}

.title:not(:hover) {
    animation-name: title-out;
    animation-duration: .2s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-element-container {
    float: right;
    margin: 10px;
}

.nav-sub-list {
    display: none;
    position: absolute;
    padding: 0;
}

.nav-element-container:hover > .nav-sub-list {
    display: block;
    z-index: 9;
    animation-name: fade-in;
    animation-duration: .2s;
}

.nav-sub-item {
    float: none;
    margin: 5px;
    background-color: #3D5AFE;
    display: block;
    text-decoration: none;
    color: azure;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
}

.nav-sub-item:hover {
    background-color: #536DFE;
    transition: .1s ease-in;
}

.nav-item {
    display: block;
    padding: 8px;
    margin: 0%;
    text-decoration: none;
    border-radius: 10px;
    color: black;
    position: relative;
}

.nav-item:hover {
    text-decoration: none;
    background-color: #3D5AFE;
    color: white;
    transition: .1s ease-in;
}

.nav-item:active {
    text-decoration: none;
}

.nav-item:visited {
    text-decoration: none;
}

.footer {
    background-color: azure;
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translate(-50%, -99%);
    width: 95vw;
    height: 10%;
    border-radius: 20px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    animation-name: fade-in;
    animation-duration: 1s;
}

.linkedin-info {
    display: flex;
    height: 30px;
}

.link {
    margin-inline: 2%;
    color: black;
}

.link:link {
    text-decoration: none;
}

.link:visited {
    text-decoration: none;
}

.link:hover {
    color: #3D5AFE;
    transition: .1s ease-in;
}
