body {
    margin: 0;
    background-image: url(../Images/material-background.png);
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    background-size: cover;
}

@keyframes fade-in {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

@keyframes popup {
    from{
        transform: translate(-50%, -20%);
        opacity: 0%;
    }
    to{
        transform: translate(-50%, -30%);
        opacity: 100%;
    }
}

.center-panel {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 10px;
    width: 500px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    animation-name: popup;
    animation-duration: .3s;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.button {
    font-size: medium;
    font-family: 'Montserrat';
    font-weight: bold;
    background-color: #3D5AFE;
    color: white;
    border: none;
    padding-block: 7px;
    padding-inline: 12px;
    border-radius: 5px;
    margin-inline: 5px;
    margin-bottom: 15px;
}

.home-btn {
    width: 8rem;
    background-color: #FF6961;
}

.button:hover {
    background-color: #536DFE;
    transition: .1s ease-in;
}

.home-btn:hover {
    background-color: #ff908a;
    transition: .1s ease-in;
}