html {
    overflow-x: hidden;
    overflow-y: hidden;
}


body {
    margin: 0;
    min-width: 850px;
    background: linear-gradient(#123873 0%, #DDDDDD 100%);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat';
}

body::-webkit-scrollbar {
    background-color: #1e4e97;
}

body::-webkit-scrollbar-thumb {
    background-color: #123873;
    border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
    font-family: 'Montserrat';
}

tbody > tr:hover {
    color: grey;
}

td, th {
    padding: 5px;
}

select {
    font-family: 'Montserrat';
    font-size: medium;
    margin-inline: 30px;
    border-radius: 5px;
    border: none;
    background-color: white;
}

select:active, select:focus {
    border: none;
}

option {
    font-size: medium;
    margin-inline: 30px;
    border-radius: 5px;
    border: none;
    background-color: white;
}

@keyframes fade-in {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

@keyframes popup {
    from{
        transform: translate(-50%, -20%);
        opacity: 0%;
    }
    to{
        transform: translate(-50%, -30%);
        opacity: 100%;
    }
}

@keyframes slide-from-top {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slide-from-bottom {
    from {
        transform: translateY(100px);
        opacity: 0%;
    }
    to {
        transform: translateY(0);
        opacity: 100%;
    }
}

.top-bar {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-inline: .5em;
    margin-top: .5em;
    padding-inline: 50px;
    animation-name: slide-from-top;
    animation-duration: .7s;
    height: 8vh;
    min-height: 50px;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
}

.center-container {
    margin: .5em;
    display: flex;
    justify-content: space-around;
}

.list {
    background-color: white;
    border-radius: 10px;
    width: 100vw;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 84vh;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    animation-name: slide-from-bottom;
    animation-duration: .7s;
}

.list::-webkit-scrollbar, .form::-webkit-scrollbar {
    background-color: #123873;
    width: 20px;
    border-radius: 10px;
}

.list::-webkit-scrollbar-thumb, .form::-webkit-scrollbar-thumb {
    background-color: #1e4e97;
    border-radius: 10px;
}

.list::-webkit-scrollbar-corner {
    background: none;
}


.top-table-div {
    display: flex;
    margin-left: 1em;
    justify-content: left;
    align-items: center;
}

.text-input {
    height: fit-content;
    margin-inline: 1em;
    background: none;
    border: 0;
    border-bottom: 1px solid black;
    height: 20px;
    font-size: 18px;
    font-family: 'Montserrat';
}

.text-input:hover {
    border-bottom: 1px solid #123873;
}

.text-input:focus {
    outline: none;
}

.table {
    width: 100%;
    border-radius: 10px;
}

.thead {
    background-color: #123873;
    color: white;
    border-radius: 10px;
}

.button {
    font-size: medium;
    font-weight: bold;
    background-color: #123873;
    color: white;
    border: none;
    padding-block: 7px;
    padding-inline: 12px;
    border-radius: 5px;
    margin-inline: 5px;
    margin-block: 15px;
    align-self: center;
    text-decoration: none;
}

.home-btn {
    margin-top: 1em;
    background-color: #FF6961;
}

.button:hover {
    background-color: #1e4e97;
    transition: .1s ease-in;
}

.home-btn:hover {
    background-color: #ff908a;
    transition: .1s ease-in;
}

.order-details-background {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0,0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.order-details-center {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    animation-name: popup;
    animation-duration: .3s;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
}

.date-search-div {
    display: none;
}

.sheet {
    background-color: white;
    align-self: center;
    margin: 30px;
    width: 210mm;
    height: 297mm;
    transform: translateY(10%);
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    padding: 20px;
    animation-name: slide-from-bottom;
    animation-duration: .7s;
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-bottom: 4px solid #123873;
    padding-block: 20px;
}

.order-data {
    text-align: start;
    border-bottom: 1px solid #123873;
}

.order-attribute-container {
    display: flex;
    align-items: center;
}

.checkout-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    overflow-y: scroll;
    justify-content: center;
    transition: 1s ease-in;
}

.text-input-order {
    margin-inline: 1em;
    background: none;
    border: 0;
    font-size: 18px;
    font-family: 'Montserrat';
    width: 150px;
}

.order-details {
    margin-block: 20px;
    border-bottom: 1px solid #123873;
    padding-bottom: 20px;
}

.total-div {
    justify-content: right;
}

.checkout-value {
    margin-left: 10px;
}