body {
    background-image: url(../Images/material-background.png);
    text-align: center;
    font-family: 'Montserrat';
    background-attachment: fixed;
    background-size: cover;
}

@keyframes fade-in {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

@keyframes slide-from-bottom {
    from {
        transform: translate(-50%, -20%);
        opacity: 0%;
    }
    to {
        transform: translate(-50%, -30%);
        opacity: 100%;
    }
}

.center-panel {
    background-color: white;
    padding-top: 2%;
    padding-bottom: 3%;
    width: 500px;
    position: absolute;
    border-radius: 20px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    animation-name: slide-from-bottom;
    animation-duration: 1s;
}

.register-text {
    color: black;
    font-size: x-large;
}

.bottom-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    margin-inline: 2%;
    color: black;
}

.link:link {
    text-decoration: none;
}

.link:visited {
    text-decoration: none;
}

.link:hover {
    color: #536DFE;
    transition: .1s ease-in;
}

.bottom-btn {
    background-color: #3D5AFE;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: medium;
    font-weight: bold;
    font-family: 'Montserrat';
    margin-inline: 2%;
    padding-block: 5px;
    padding-inline: 7px;
}

.home-btn {
    background-color: #FF6961;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: medium;
    font-weight: bold;
    font-family: 'Montserrat';
    margin-inline: 2%;
    padding-block: 5px;
    padding-inline: 7px;
}

.home-btn:hover {
    background-color: #FF908A;
    transition: .1s ease-in;
}

.mostrar-btn {
    background-color: #3D5AFE;
    font-family: 'Montserrat';
    border: none;
    color: white;
    align-self: flex-end;
    display: none;
    border-radius: 5px;
    padding-block: 5px;
    padding-inline: 7px;
}

.name-div, .lastname-div, .username-div, .password-div, .admin-key-div {
    display: inline-flex;
    height: 30px;
    column-gap: 20px;
}

#name, #lastname, #username, #password, #admin-key {
    font-size: large;
    background: none;
    color: black;
    border: 0;
    border-bottom: 1px solid black;
    outline: none;
}

#name::placeholder, #lastname::placeholder, #password::placeholder, #username::placeholder, #admin-key::placeholder {
    color: rgb(65, 65, 65);
}

.bottom-btn:hover {
    background-color: #536DFE;
    transition: .1s ease-in;
}

#username:hover, #password:hover, #name:hover, #lastname:hover, #admin-key:hover {
    border-bottom: 1px solid #3D5AFE;
    transition: .1s ease-in;
}

.mostrar-btn:hover {
    background-color: #536DFE;
    transition: .1s ease-in;
}