html {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    margin: 0;
    min-width: 850px;
    background-image: url(../Images/material-background.png);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat';
}

body::-webkit-scrollbar, .checkout-background::-webkit-scrollbar {
    background-color: #536DFE;
}

body::-webkit-scrollbar-thumb, .checkout-background::-webkit-scrollbar-thumb {
    background-color: #3D5AFE;
    border-radius: 10px;
}

input::-webkit-outer-spin-button :not(.quantity),
input::-webkit-inner-spin-button :not(.quantity) {
  -webkit-appearance: none;
}

button {
    font-family: 'Montserrat';
}

tbody > tr:hover {
    color: grey;
}

td, th {
    padding: 5px;
}

@keyframes fade-in {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

@keyframes popup {
    from{
        transform: translate(-50%, -10%);
        opacity: 0%;
    }
    to{
        transform: translate(-50%, -20%);
        opacity: 100%;
    }
}

@keyframes scaleUp {
    from{
        scale: .5;
    }
    to{
        scale: 1;
    }
}

@keyframes slide-from-left {
    from {
        transform: translateX(-1000px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(1000px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-from-top {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slide-from-bottom {
    from {
        transform: translateY(20%);
        opacity: 0%;
    }
    to {
        transform: translateY(10%);
        opacity: 100%;
    }
}

@keyframes slide-from-bottom-center {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
    }
}

.client-type-div, .asset-type-div, .product-list-div, .service-list-div{
    position: absolute;
    display: none;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    animation-name: popup;
    animation-duration: .3s;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
}

.new-client-attributes {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    animation-name: popup;
    animation-duration: .3s;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
}

.new-client-background, .asset-form{
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: fade-in;
    animation-duration: .3s;
}

.top-bar {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    height: fit-content;
    margin-inline: .5em;
    margin-top: .5em;
    padding-inline: 50px;
    animation-name: slide-from-top;
    animation-duration: .7s;
    height: 8vh;
    min-height: 50px;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
}

.top-table-div {
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    justify-content: left;
    align-items: center;
}

.blue-text {
    color: #3D5AFE;
}

.top-btn {
    background-color: #3D5AFE;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: larger;
    width: 45%;
    padding-block: 5px;
    padding-inline: 7px;
    margin-inline: 5px;
    margin-block: 15px;
}

.top-btns-client {
    display: none;
}

.top-btn:hover {
    background-color: #536DFE;
}

.attribute-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-container {
    display: flex;
    justify-content: space-evenly;
}

.existing-identification {
    display: none;
}

.text-input {
    height: fit-content;
    margin-inline: 1em;
    background: none;
    border: 0;
    border-bottom: 1px solid black;
    height: 20px;
    font-size: 16px;
    font-family: 'Montserrat';
    margin-block: 10px;
}

.select-input {
    margin-inline: 1em;
}

.business-name {
    text-transform: uppercase;
}

.text-input:hover {
    border-bottom: 1px solid #3D5AFE;
}

.text-input:focus {
    outline: none;
    border-bottom: 1px solid #3D5AFE;
}

.date-div {
    display: flex;
    align-items: center;
    color: gray;
}

.list {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 81vh;
    width: 49vw;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
}

.client-list {
    margin-block: .5em;
    margin-left: .5em;
    margin-right: .25em;
    animation-name: slide-from-left;
    animation-duration: .7s;
}

.detail-list {
    margin-block: .5em;
    margin-left: .25em;
    margin-right: .5em;
    animation-name: slide-from-right;
    animation-duration: .7s;
}

.bottom-bar-container {
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    height: 6vh;
    animation-name: slide-from-bottom-center;
    animation-duration: .7s;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
}

.client-bar {
    margin-block: .5em;
    margin-left: .5em;
    margin-right: .25em;
}

.order-bar {
    margin-block: .5em;
    margin-left: .25em;
    margin-right: .5em;
}

.list-container {
    display: flex;
}

.list::-webkit-scrollbar, .form::-webkit-scrollbar {
    background-color: #536DFE;
    width: 20px;
    border-radius: 10px;
}

.list::-webkit-scrollbar-thumb, .form::-webkit-scrollbar-thumb {
    background-color: #3D5AFE;
    border-radius: 10px;
}

.list::-webkit-scrollbar-corner {
    background: none;
}

.table {
    width: 100%;
    border-radius: 10px;
}

.thead {
    background-color: #3D5AFE;
    color: white;
    border-radius: 10px;
}

.thead-voucher {
    background-color: gray;
    color: white;
}

.person {
    display: none;
}

.business {
    display: none;
}

.button {
    font-size: medium;
    font-weight: bold;
    background-color: #3D5AFE;
    color: white;
    border: none;
    padding-block: 7px;
    padding-inline: 12px;
    border-radius: 5px;
    margin-inline: 5px;
    margin-block: 15px;
    align-self: center;
    text-decoration: none;
}

.home-btn {
    background-color: #FF6961;
}

.button:hover {
    background-color: #536DFE;
    transition: .1s ease-in;
}

.button-small:hover {
    background-color: #536DFE;
    transition: .1s ease-in;
}

.home-btn:hover {
    background-color: #ff908a;
    transition: .1s ease-in;
} 

.sheet {
    background-color: white;
    align-self: center;
    margin: 30px;
    width: 210mm;
    height: 297mm;
    transform: translateY(10%);
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    padding: 20px;
    animation-name: slide-from-bottom;
    animation-duration: .7s;
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-bottom: 4px solid #3D5AFE;
    padding-block: 20px;
}

.order-data {
    text-align: start;
    border-bottom: 1px solid #3D5AFE;
}

.order-attribute-container {
    display: flex;
    align-items: center;
}

.checkout-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    overflow-y: scroll;
    justify-content: center;
    transition: 1s ease-in;
}

.text-input-order {
    margin-inline: 1em;
    background: none;
    border: 0;
    font-size: 18px;
    font-family: 'Montserrat';
    width: 150px;
}

.order-details {
    margin-block: 20px;
    border-bottom: 1px solid #3D5AFE;
    padding-bottom: 20px;
}

.total-div {
    justify-content: right;
}

.checkout-value {
    margin-left: 10px;
}