body {
    background-image: url(../Images/material-background.png);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    font-family: 'Montserrat';
}

@keyframes fade-in {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

@keyframes slide-from-bottom {
    from {
        transform: translate(-50%, -40%);
        opacity: 0%;
    }
    to {
        transform: translate(-50%, -30%);
        opacity: 100%;
    }
}

.center-panel {
    background-color: white;
    padding-top: 2%;
    padding-bottom: 3%;
    width: 500px;
    position: absolute;
    border-radius: 20px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    animation-name: slide-from-bottom;
    animation-duration: .7s;
}

.bienvenido-text {
    color: black;
    font-size: x-large;
}

.bottom-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    margin-inline: 2%;
    color: black;
}

.link:link {
    text-decoration: none;
}

.link:visited {
    text-decoration: none;
}

.link:hover {
    color: #3D5AFE;
    transition: .1s ease-in;
}

.login-btn {
    background-color: #3D5AFE;
    border-radius: .5em;
    border: none;
    color: white;
    padding-block: 5px;
    padding-inline: 7px;
    font-size: larger;
    margin-inline: 2%;
}

.mostrar-btn {
    background-color: #3D5AFE;
    border: none;
    border-radius: 10px;
    color: white;
    align-self: flex-end;
    display: none;
    padding-block: 5px;
    padding-inline: 7px;
}

.username-div, .password-div {
    display: inline-flex;
    height: 30px;
    column-gap: 20px;
}

#username, #password {
    font-size: large;
    background: none;
    color: black;
    border: 0;
    border-bottom: 1px solid black;
    outline: none;
}

#password::placeholder, #username::placeholder {
    color: rgb(65, 65, 65);
}

.login-btn:hover {
    background-color: #536DFE;
    transition: .1s ease-in;
}

#username:hover, #password:hover {
    border-bottom: 1px solid #3D5AFE;
    transition: .1s ease-in;
}

.mostrar-btn:hover {
    background-color: #536DFE;
    transition: .1s ease-in;
}
